{{!< default}}
<main id="main-content" class="content" role="main">
    <div class="article-wrapper">
        <article class="loading detail-post">
		  {{#post}}
                  <span class="post-meta" name="post-content">
                      <time datetime="{{date published_at timeago="true"}}">{{date published_at timeago="true"}}</time>
	                {{#if tags}}on {{tags separator=" | "}}{{/if}}
                  </span>

                  <h1 class="post-title">{{{title}}}</h1>

                  <section class="post-content">
				{{content}}
                  </section>

                  <section class="share">
                      <div class="links">
                      </div>
                  </section>

                  <footer class="post-footer">
				<nav class="related-posts">
				  <h4>Related posts</h4>
				  <ul></ul>
				</nav>
	                  {{#if author.bio}}
				<section class="author">
				  <div class="image"><img src="{{author.image}}" title="{{author.name}}"/></div>
				  <div class="about">
				      <h4>{{author.name}}</h4>
				      <p>{{author.bio}}</p>
				  </div>
				</section>
				{{/if}}
                  </footer>
		  {{/post}}
        </article>
    </div>

</main>
